@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
    overflow-y: auto;
    color: #213547;
}

@layer utilities {
    .selected-radio {
        background: linear-gradient(
            60deg,
            hsl(224, 50%, 66%),
            hsl(269, 50%, 66%),
            hsl(314, 50%, 66%),
            hsl(359, 50%, 66%),
            hsl(179, 50%, 66%)
        );
        background-size: 300% 300%;
        animation: moveGradient 4s alternate infinite;
        box-shadow: 1px 1px 4px rgb(170, 183, 226),
            -1px -1px 4px rgb(224, 170, 213);
    }
    .selected-radio > span {
        background: white;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}
